<!DOCTYPE html>
<html>
  <head>
    <title>BookWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
  <% if flash[:errors] %>

    <%= render 'layouts/nav' %>
  
    <% flash[:errors].each do |error| %>
        <%= error %>
    <% end %>

  <% end %>
  


  <% if logged_in?%>
  
    <a href="<%= users_url %>" data-method="get">Home</a>

   <a href="<%= session_url %>" data-method="delete">Sign Out</a>
  <% end %>

    <%= yield %>
  </body>
</html>
