<!DOCTYPE html>
<html>
  <head>
    <title>BookWeb</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  
  <% if flash[:errors] %>
  
    <% flash[:errors].each do |error| %>
        <%= error %>
    <% end %>

  <% end %>
  


  <% if logged_in?%>
  
    <form action="<%= users_url %>" method="POST">
      <input type="hidden" name="_method" value="GET">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Home</button>
    </form>

    <form action="<%= session_url %>" method="POST">
      <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <button>Sign Out</button>
    </form>
  <% end %>

    <%= yield %>
  </body>
</html>
